body {
    color: white;
    background-color: black;
    background-image: url(money_bg.jpg);
    background-size: cover;
    padding: 2vh;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 7vh;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-size: 2vh;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
div {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
input, button {
    margin: 1vh auto;
    display: block;
}
nav {
    display: inline-block;
    justify-content: space-between;
    /* justify-content: center; центрируем навигацию */
    padding: 10px;
}
nav ul li {
    display:inline;
    margin: 0 10px;
}
nav ul li a {
   display:inline-block;
   /*   padding:10px;  */
    color: blanchedalmond;
    text-decoration: none;
}

#divEvent a{
    color: white;
    background-color: black;
    opacity: 0.7;
}

p {
    margin-top: 1%;
    font-weight: bold;
    font-size: 3vh;
    margin: 0 auto;

}
span {
    height: 20%;
}
span a {
    text-decoration: none;
    color: rgb(176, 118, 82);
}
section#currentEvent table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 92%;
}

table td {
    max-width: 30%;
    font-size: 1.9vh;
}

table input {
    color: rgb(29, 15, 15);
}

button {
    border-style: none;
    border-radius: 5%;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#usersTable table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tableUsersEvents, #tableDebts {
	border: 1px solid #dddddd;
	border-collapse: collapse; 
    max-width: 90%;    
}

#tableUsersEvents th, #tableDebts th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
    min-width: 160px;
    max-width: 250px;
    font-size: 2vh;
    color: black;
}

#tableUsersEvents td, #tableDebts td {
	border: 1px solid #dddddd;
	padding: 5px;
    min-width: 160px;
    max-width: 250px;
    font-size: 2vh;
}
